In [40]:
class customer:
    customer_number = 0 
    balance = 0 ##balance
    
    def __init__ (self,name,age):
        customer.customer_number +=1
        self.name = name
        self.age = age 
        
    
    def deposit(self,x):
        self.balance = self.balance + x 
    def Withdrawal(self,x):
        self.balance = self.balance - x
    def info(self):
        print("name {} , age {}, balance = {} , babk number {}".format(self.name,self.age,self.balance,self.customer_number))

In [22]:
mahmoud = customer("mahmoud",24)

In [36]:
mahmoud.deposit(100)

In [24]:
mahmoud.info()

name mahmoud , age 24, balance = 100 , babk number 1

In [25]:
ahmed = customer("ahmed",25)

In [39]:
ahmed.info()

name ahmed , age 25, balance = -50 , babk number 2

In [28]:
mahmoud.Withdrawal(50)

In [34]:
mahmoud.info()

name mahmoud , age 24, balance = 50 , babk number 2

In [38]:
ahmed.Withdrawal(50)